#login {
  .form {
    background: #2f80ed;
    min-height: 75vh;
  }
  .login-img {
    min-height: 75vh;
  }
  .btn-cont {
    button {
      width: 40%;
    }
  }
  .btn-cont {
    min-height: 50px;
  }
  .social-btn{
    width: 30vmin;
    font-size: 1.5vmin;
  }
  @include media-breakpoint-down(md) {
    .login-img-cont {
       display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    .social-btn {
      width: 35vmin;
      font-size: 1.8vmin;
    }
  }
  @include media-breakpoint-down(xs) {
    .social-btn {
      width: 60vmin;
      font-size: 3vmin;
    }
  }
}
